li {
    list-style-type: none;
    display: inline;
}

#logo {
    color: lightgrey;
    font: normal 36px 'Advent Pro', cursive;
    margin: 0;
    float: left;
}

#logo span {
    color: #5383d3;
}

.navbar .home {
    text-align:right;
}

.navbar .login {
    text-align:right;
}

/* Style the links inside the navigation bar */
.home a {
    color: lightgrey;
    padding: 0px 12px;
    text-decoration: none;
    font-weight: bolder;
    font-family: Poppins;
    font-size: 16px;
    border: 1px
}

.login a {
    color: lightgrey;
    padding: 0px 12px;
    text-decoration: none;
    font-weight: bolder;
    font-family: Poppins;
    font-size: 16px;
}

.login a:hover {
    color: orange;
}

/* Change the color of links on hover */
.home a:hover {
    color: orange;
}

#clearer {
    clear: both;
}