/** nvstyle stuff */
.navbar li {
    list-style-type: none;
    display: inline;
}

.navbar #logo {
    color: lightgrey;
    font: normal 36px 'Advent Pro', cursive;
    float: left;
    margin-left:35px;
    margin-top:15px;
}

.navbar #logo span {
    color: #d2b356;
}

.navbar .home {
    margin-top:40px;
    text-align:right;
    margin-right:40px;
}

.navbar .login {
    margin-top:40px;
    text-align:right;
    margin-right:40px;
}

/* Style the links inside the navigation bar */
.navbar .home a {
    color: #d2b356;
    padding: 0px 12px;
    text-decoration: none;
    font-weight: bolder;
    font-family: Poppins;
    font-size: 16px;
    border-bottom: 3px solid #d2b356;
}

.navbar .login a {
    color: #d2b356;
    padding: 10px 12px;
    text-decoration: none;
    font-weight: bolder;
    font-family: Poppins;
    font-size: 16px;
    border-radius:3px;
    border: 1px solid #d2b356;
}

.navbar .login a:hover {
    border:none;
}

/* Change the color of links on hover */
.navbar .home a:hover {
    border:none;
}

.navbar #clearer {
    clear: both;
}

/* Page Border */

.page-border {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
}

.page-border .bottom-border, .page-border .left-border, .page-border .right-border, .page-border .top-border {
    background: #f3f3ef;
    position: fixed;
    z-index: 9999;
}

.page-border > .top-border, .page-border > .right-border, .page-border > .bottom-border, .page-border > .left-border {
    padding: 11px;
    background: #ccc;
}

.page-border .bottom-border, .page-border .top-border {
    width: 100%;
    padding: 10px;
    left: 0;
}

.page-border .left-border, .page-border .right-border {
    padding: 10px;
    height: 100%;
    top: 0;
}

.page-border .top-border {
    top: 0;
}

.page-border .right-border {
    right: 0;
}

.page-border .bottom-border {
    bottom: 0;
}

.page-border .left-border {
    left: 0;
}

#wrapper {
    margin:20px 15px;
    padding: 15px 0;
    position: relative;
}