@import url(https://fonts.googleapis.com/css?family=Montserrat);

.profile-data-set .title{
    color:black;
    font-size:25px;
    font-family:montserrat, arial, verdana;
    margin-top:40px;
}

.profile-data-set .minortitle{
    color:black;
    font-size:20px;
    font-family:montserrat, arial, verdana;
    margin-top:10px;
}

.profile-data-set h3{
    color:lightgrey;
    font-size:15px;
    font-family:Poppins;
}

.profile-container{
    position: relative;
}

.profile-data, .profile-img-container img{
    display: inline-block;
}

.profile-data-set{
    margin-left:20px;
    margin-top:20px;
    display: table;
}
.profile-data-set h3, profile-data-set span{
    display: table-cell;
}

.profile-data-set span{
    position: absolute;
    right:45%;
}

.profile-img-container{
    width:40%;
    float:right;
}

.profile-data-set a {
    color: #d2b356;
    padding: 6px 8px;
    text-decoration: none;
    font-weight: bolder;
    font-family: Poppins;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #d2b356;
    background-color:white;
    margin-right:20px;
    margin-top:30px;
    cursor:pointer;
}

.tradeIcon{
    left:25px;
    height:20px;
    width:30px;
}