@import url(https://fonts.googleapis.com/css?family=Montserrat);

.profile-data-set .title{
    color:black;
    font-size:25px;
    font-family:montserrat, arial, verdana;
    margin-top:40px;
}

.profile-data-set .minortitle{
    color:black;
    font-size:20px;
    font-family:montserrat, arial, verdana;
    margin-top:10px;
}

.profile-data-set h3{
    color:lightgrey;
    font-size:15px;
    font-family:Poppins;
}

.profile-container{
    position: relative;
}

.profile-data, .profile-img-container img{
    display: inline-block;
}

.profile-data-set{
    margin-left:20px;
    margin-top:20px;
    display: table;
}
.profile-data-set h3, profile-data-set span{
    display: table-cell;
}

.profile-data-set span{
    position: absolute;
    right:50%;
}

.profile-img-container{
    width:45%;
    float:right;
}

.profile-data-set a {
    color: #d2b356;
    padding: 6px 8px;
    text-decoration: none;
    font-weight: bolder;
    font-family: Poppins;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #d2b356;
    background-color:white;
    margin-right:20px;
    margin-top:30px;
    cursor:pointer;
}

.final {
    margin-bottom:100px;
}

.tradeIcon{
    left:25px;
    height:20px;
    width:30px;
}

.fs-title {
    font-family: montserrat, arial, verdana;
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-family: montserrat, arial, verdana;
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.fs-subtitle-left {
    font-family: montserrat, arial, verdana;
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
    margin-top:5px;
    float:left;
    text-align:left;
}

/* Popup container - can be anything you want */
.popup {
    position:absolute;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 600px;
    text-align: center;
    float:left;
    top:0;
}

/* The actual popup */
.popup .popuptext {
    position: absolute;
    z-index: 1;
    /*    margin-left: -80px;*/
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
    box-sizing: border-box;
    width: 80%;
    margin: 0;
}

.popuptext input, .popuptext textarea , .popuptext option, .popuptext select{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/*buttons*/
.popuptext .action-button {
    width: 100px;
    background: #F32C52;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}


.popuptext .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #F32C52;
}


/** Trading Accounts Design */

.profile-data-set li img {
    height:60px;
    width:100px;
    float: left;
    margin: 0 15px 0 0;
}

.profile-data-set li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.profile-data-set li {
    padding: 10px;
    overflow: auto;
}

.profile-data-set li:hover {
    background: #eee;
    cursor: pointer;
}

.profile-data-set ul {
    list-style-type: none;
    width: 500px;
}