/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 150px;
    height: 200px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    display:table;
}

.back p, .back a {
    font-family: Advent Pro;
    text-align: center;
    color: #000000;
    margin-top: 0;
    vertical-align: middle;
    display:table-cell;
}

#selector{
    display:block;
}

.front p {
    font-family: Advent Pro;
    text-align: center;
}

#price {
    color: red;
}

#selector {
    font-style: italic;
    margin: 0 auto;
}

.list-container {
    display: inline-block;
    margin: 30px 30px 0px 30px;
    border: 2px solid #d2b356;
}

.sellButton {
    float: right;
    height: 40px;
    width: 130px;
    text-align: center;
    background-color: #2764eb;
    font-size: 16px;
    color: white;
    border-radius: 1px;
    padding: 0;
    border: none;
    text-decoration: none;
    margin-top:15px;
    margin-right:30px;
}

.sellButton span {
    vertical-align: middle;
}